@media only screen
{


body {

    background-color: rgb(207, 207, 207);
    margin: 0px;

}

img {
    -webkit-user-drag: none;
}

.header {
    width: 100%;

    display: inline-block;
    
}

.header-image {

    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    margin-top: 0px;
    background-color: rgb(40, 40, 40);
    height: 2000px;
    opacity: 100%;
}


.search-button {
    background-color:rgb(83, 147, 65);
    color: white;
    border: 0px;
    border-radius: 9px;
    margin-left: 10px;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    flex: 50%;
}

    
}

@media only screen 
{
    

    body {
        font-family: 'Roboto';
        background-color: rgb(53, 53, 53);
        margin: 0px;
    }
    
    img {
        -webkit-user-drag: none;
    }
    
    .header {
        width: 100%;
    
        display: inline-block;
        
    }
    
    .header-image {
    
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    

   
    
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .search-container {
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }

   
    
    .input-text {
        width: 70%;
        margin-right: 10px; /* Spatiu intre input si buton */
        padding: 10px;
        border-radius: 10px;
        box-shadow: none;
        border-width: 2px;
        border-color: #000000;
        overflow: hidden; /* Ascunde textul care depaseste latimea input-ului */
    }
    
    .search-button {
        width: 30%;
        height: 50px;
        padding: 10px;
        font-size: 16px;
    }
    
    /* Stilizare la hover pentru buton */
    .search-button:hover {
        background-color: #12ca52;
    }
      
      



      
  













    .td1 {
        color: rgb(0, 0, 0);
        background-color:#002331;
        border: 2px; 
        border-color: rgb(21, 194, 122);
        
        
    }

    table {
    border-collapse: collapse;
    border: none;
  
    }

    

    .highlighted {
        background-color: rgb(1, 180, 46);
        
        
        transition: background-color 0.5s;
    }
    td {
        background-color: transparent; /* Culoare de fundal inițială */
        font-weight: normal; /* Stil de text inițial */
        transition: background-color 0.5s;
        
        
    }

    h2 {
        vertical-align: middle;
        color: #ffffff;
        text-align: center;
        background-color:#002331;
        
        
        margin: 10pxpx;
        padding: 10px;
    }

   
    tr {
        vertical-align: middle;
    }

    p {
        text-align: justify;
        padding: 10px;
        margin: 10px;
        color: white;
    }

    .headline {
        color:#ffcc54;
        font-style: normal;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        background-color: #003551;
        
        font-family: roboto;
        padding: 10px;
    }

    .suggestions {
        margin: 15px;
        margin-bottom: 10px;
        color: white;

        }
        
}

   

    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border-width: 0px;

   
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        animation: slideIn 0.3s ease-in-out forwards;
        background-image: url('button-up.png'); 
        background-size: cover; 
        background-repeat: no-repeat; 
    }
   

    @keyframes slideIn {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    #scrollToTopBtn.show {
        display: block;
    }
        
    
